# Node.js dependencies
node_modules/
.npm/

# Environment variables
.env
.env.local

# Firebase CLI debug files
firebase-debug.log
firebase-debug.*.log

# Operating System Files
.DS_Store
Thumbs.db

# Build output (example for common web frameworks)
build/
dist/
.svelte-kit/
.next/
.nuxt/
out/

# IDE specific files
.vscode/
.idea/
*.iml
